@using System.Security.Policy
@{
    Layout = "~/_SiteLayout.cshtml";
    var absPath = Document.GetLink();
    var thisPage = absPath.ToLower().Substring(absPath.LastIndexOf('/') + 1);
    ViewData[thisPage + "Style"] = "active";
    ViewData["Documentation"] = "active";
}

<div class="row">
    <div class="col-sm-3" id="sidebar">
        <div class="navbar" role="navigation">
            <button type="button" class="btn btn-secondary center-block visible-xs" data-toggle="collapse" data-target=".navbar-left">
                Table of Contents
                <span class="caret"></span>
            </button>
            <div class="navbar-collapse navbar-left px-0 collapse">
                <div class="list-group">
                    <a href="@Context.GetLink("whyboxstarter")" class="list-group-item @ViewData["whyboxstarterStyle"]">Why Boxstarter?</a>
                    <a href="@Context.GetLink("weblauncher")" class="list-group-item @ViewData["weblauncherStyle"]">Launch from the web</a>
                    <a href="@Context.GetLink("installboxstarter")" class="list-group-item @ViewData["installboxstarterStyle"]">Installing Boxstarter</a>
                    <a href="@Context.GetLink("usingboxstarter")" class="list-group-item @ViewData["usingboxstarterStyle"]">Using Boxstarter Commands</a>
                    <a href="@Context.GetLink("understandingpackages")" class="list-group-item @ViewData["understandingpackagesStyle"]">Understanding Packages</a>
                    <a href="@Context.GetLink("creatingpackages")" class="list-group-item @ViewData["creatingpackagesStyle"]">Creating Packages</a>
                    <a href="@Context.GetLink("publishingpackages")" class="list-group-item @ViewData["publishingpackagesStyle"]">Publishing Packages</a>
                    <a href="@Context.GetLink("installingpackages")" class="list-group-item @ViewData["installingpackagesStyle"]">Installing Packages</a>
                    <a href="@Context.GetLink("vmintegration")" class="list-group-item @ViewData["vmintegrationStyle"]">Installing packages on a Virtual Machine</a>
                    <a href="@Context.GetLink("testingpackages")" class="list-group-item @ViewData["testingpackagesStyle"]">Testing Packages and Build Server Integration</a>
                    <a href="@Context.GetLink("winconfig")" class="list-group-item @ViewData["winconfigStyle"]">Boxstarter WinConfig Features</a>
                    <a href="@Context.GetLink("boxstarterresources")" class="list-group-item @ViewData["boxstarterresourcesStyle"]">More Boxstarter Resources</a>
                </div>
            </div><!-- /.nav-collapse -->
        </div><!-- /.navbar -->
    </div>
    <div class="col-sm-9" role="main">
        <div class="media">
            <div class="media-body">
                @RenderSection("headerBody")
            </div>
            <div class="media-right">
                <img class="media-object" src="@Context.GetLink("assets/images/boxLogo_sm.png")" />
            </div>
        </div>
        @RenderBody()
    </div>
</div>