<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="@Context.GetLink("favicon.ico")">

    <title>Boxstarter</title>

    <link rel="stylesheet" href='@Context.GetLink("/assets/css/boxstarter.bundle.min.css")'>
    <script type="text/javascript" src='@Context.GetLink("/assets/js/boxstarter-head.bundle.min.js")'></script>
  </head>

  <body>

    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="@Context.GetLink("")">Boxstarter</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="@ViewData["Documentation"]"><a href="@Context.GetLink("whyboxstarter")">Docs</a></li>
                <li class="@ViewData["Learn"]"><a href="@Context.GetLink("learn/weblauncher")">Learn</a></li>
                <li><a href="https://github.com/chocolatey/boxstarter/issues">Issues</a></li>
                <li><a href="https://ch0.co/community">Discussion</a></li>
                <li><a href="https://github.com/chocolatey/boxstarter">Source Code</a></li>
                <li class="@ViewData["Blog"]"><a href="@Context.GetLink("blog")">Blog</a></li>
                <li class="@ViewData["License"]"><a href="@Context.GetLink("license")">License</a></li>
            </ul>
            <a class="btn btn-primary btn-navbar" role="button" href="@Context.GetLink("downloads/Boxstarter.2.13.0.zip")"><span class="glyphicon glyphicon-cloud-download"></span> Download v2.13.0</a>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    @RenderSection("featured", required: false)

   <div class="container">
       @RenderBody()
      <hr>

      <footer>
        <p>&copy; 2018 - 2022 <a href="https://chocolatey.org">Chocolatey Software, Inc</a></p>
        <p>&copy; 2012 - 2018 <a href="https://www.hurryupandwait.io/">Matt Wrock</a></p>
      </footer>
    </div> <!-- /container -->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39271380-1']);
      _gaq.push(['_setDomainName', 'boxstarter.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript" src="https://polyfill.io/v3/polyfill.min.js?features=default,Array.prototype.includes,Array.prototype.find,Number.parseFloat%2CNumber.parse%2CNodeList.prototype.forEach%2CNumber.parseInt"></script>
    <script type="text/javascript" src='@Context.GetLink("/assets/js/boxstarter.bundle.min.js")'></script>
  </body>
</html>